* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafbfc;
}

.wrapper {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding: 17px 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.header-top-link {
    position: absolute;
    background-repeat: no-repeat;
    transition: transform 0.3s linear;
}

.header-top-link:hover {
    transform: scale(1.3);
}

.header-logo {
    display: block;
}

.home-icon {
    background-image: url(./images/header-home-icon.png);
    width: 13px;
    height: 13px;
    top: 4px;
    left: 400px;
}

.message-icon {
    background-image: url(./images/header-message-icon.png);
    width: 14px;
    height: 10px;
    top: 6px;
    left: 426px;
}

.user-icon {
    background-image: url(./images/header-user-icon.png);
    width: 13px;
    height: 12px;
    top: 5px;
    left: 452px;
}

.logo-link {
    margin-right: 16px;
}

.about-company {
    display: flex;
    height: 23px;
    margin-top: 46px;
}

.about-company-item {
    padding: 3px 16px;
    border-right: 1px solid #cccece;
}

.about-company-item:last-child {
    border-right: none;
    padding-right: 0;
}

.about-company-link {
    display: block;
    font-size: 12px;
    color: #3d3d3d;
}

.about-company-link.active {
    color: #af2c2c;
}

.about-company-link:hover {
    color: #cf3232;
}

.header-right {
    height: 100%;
    padding: 0 60px;
}

.yahho-link {
    font-size: 12px;
    color: #a72c2c;
    margin: 0 0 7px 0;
}

.yahho-link:hover {
    color: #cf3232;
}

.header-span {
    display: block;
    font-size: 12px;
    color: #a0a0a0;
    margin-bottom: 7px;
}

.header-span:last-child {
    margin-bottom: 0;
}

.phone-number {
    display: flex;
    justify-content: space-between;
}

.tel {
    font-size: 18px;
    font-weight: 700;
    color: #cf3232;
    margin-bottom: 7px;
}

.tel:hover {
    color: #a72c2c;
}

.tel-1 {
    margin-right: 22px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 100px;
    padding: 0 10px 10px;
    margin-bottom: 12px;
    box-shadow: 0 2px 1px rgba(61,61,61,0.3);
}

.main-menu-item {
    padding: 0 7px;
    height: 100%;
    color: #4d4d4d;
    transition: transform 0.3s linear;
}

.main-menu-item:hover {
    transform: scale(1.1);
    color: #cf3232;
}

.main-menu-link {
    color: inherit;
}

.main-menu-link img {
    display: block;
    height: 76px;
}

.main-menu-text {
    display: block;
    font-size: 11px;
    text-align: center;
}

.services-menu {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}

.services-item {
    width: 24.8%;
    height: 62px;
    background: linear-gradient(#be4a4a, #8a1818);
    transition: transform 0.3s linear;
    border-radius: 3px;
}

.services-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 9px 0 9px;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    background-color: inherit;  
}

.services-link img {
    display: block;
    margin-right: 10px;
}

.services-link span {
    display: block;
}

.services-item:hover {
    background-color:#ce4646;
}

.services-link:hover {
    text-decoration: none;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    box-shadow: 0 2px 1px rgba(61,61,61,0.3);
    position: relative;
    margin-bottom: 30px;
}

.slider-img {
    display: block;
}

.slider-text {
    display: block;
    position: absolute;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 5px; 
    left: 50px;
    top: 70px;
}

.slider-span-2 {
    top: 100px;
}

.main-content {
    display: flex;
    margin-bottom: 30px;
}

.sidebar {
    width: 190px;
    margin-right: 50px;
}

.content-title {
    font-size: 14px;
    color: #373737;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.sidebar-date {
    display: block;
    font-size: 10px;
    color: #8b1919;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.sidebar-desription {
    font-size: 11px;
    color: #444444;
    margin-bottom: 16px;
}

.sidebar-link {
    color: #9c1f1f;
    font-size: 11px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.sidebar-link:hover {
    text-decoration: none;
}

.sidebar-border {
    border-bottom: 1px dashed #9d9d9d;
    margin-bottom: 14px;
}

.page-content {
    width: 700px;
    font-size: 11px;
    color: #575656;
}

.content-description {
    margin-bottom: 15px;
}

.content-item {
    padding-left: 15px;
    margin-bottom: 15px;
    position: relative;
}

.content-item:first-child {
    margin-bottom: 0;
}

.content-item::before {
    content: "";
    position: absolute;
    background-color: #9b2828;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.content-item a {
    display: inline-block;
    text-decoration: underline;
    color: #8c1a1a;
}

.content-item a:hover {
    text-decoration: none;
}

.content-span {
    display: block;
    margin-bottom: 15px;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f7f7;
    box-shadow: 0 2px 1px rgba(61,61,61,0.3);
    margin-bottom: 20px;    
}

.company-link {
    padding: 25px;
    filter: grayscale(1);
}

.company-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s linear;
    filter: grayscale(0);
}

.company-link.active {
    filter: grayscale(0);
}

.company-logo {
    display: block;
}
