* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafbfc;
}

.active:hover {
    text-decoration: none;
}

.wrapper {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding: 17px 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
}

.header__left {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.header__top-link {
    position: absolute;
    background-repeat: no-repeat;
    transition: transform 0.3s linear;
}

.header__top-link:hover {
    transform: scale(1.3);
}

.header__logo-image {
    display: block;
}

.header__top-link_home {
    background-image: url(./images/header-home-icon.png);
    width: 13px;
    height: 13px;
    top: 4px;
    left: 400px;
}

.header__top-link_message {
    background-image: url(./images/header-message-icon.png);
    width: 14px;
    height: 10px;
    top: 6px;
    left: 426px;
}

.header__top-link_user {
    background-image: url(./images/header-user-icon.png);
    width: 13px;
    height: 12px;
    top: 5px;
    left: 452px;
}

.header__logo {
    margin-right: 16px;
}

.header-menu {
    display: flex;
    height: 23px;
    margin-top: 46px;
}

.header-menu__item {
    padding: 3px 16px;
    border-right: 1px solid #cccece;
}

.header-menu__item:last-child {
    border-right: none;
    padding-right: 0;
}

.header-menu__link {
    display: block;
    font-size: 12px;
    color: #3d3d3d;
}

.header-menu__link.active {
    color: #af2c2c;
}

.header-menu__link:hover {
    color: #cf3232;
}

.header-contacts {
    height: 100%;
    padding: 0 60px;
}

.header-contacts__email {
    font-size: 12px;
    color: #a72c2c;
    margin: 0 0 7px 0;
}

.header-contacts__email:hover {
    color: #cf3232;
}

.header-contacts__title {
    display: block;
    font-size: 12px;
    color: #a0a0a0;
    margin-bottom: 7px;
}

.header-span:last-child {
    margin-bottom: 0;
}

.phone-number {
    display: flex;
    justify-content: space-between;
}

.header-contacts__phone {
    font-size: 18px;
    font-weight: 700;
    color: #cf3232;
    margin-bottom: 7px;
}

.header-contacts__phone:hover {
    color: #a72c2c;
}

.header-contacts__phones_work {
    margin-right: 22px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 100px;
    padding: 0 10px 10px;
    margin-bottom: 12px;
    box-shadow: 0 2px 1px rgba(61,61,61,0.3);
}

.main-menu-item {
    padding: 0 7px;
    height: 100%;
    color: #4d4d4d;
    transition: transform 0.3s linear;
}

.main-menu-item:hover {
    transform: scale(1.1);
    color: #cf3232;
}

.main-menu__link {
    color: inherit;
}

.main-menu__image {
    display: block;
    height: 76px;
}

.main-menu__text {
    display: block;
    font-size: 11px;
    text-align: center;
}

.services-menu {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}

.services-menu__item {
    width: 24.8%;
    height: 62px;
    background: linear-gradient(#be4a4a, #8a1818);
    transition: transform 0.3s linear;
    border-radius: 3px;
}

.services-menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 9px 0 9px;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    background-color: inherit;  
}

.services-menu__image {
    display: block;
    margin-right: 10px;
}

.services-menu__text {
    display: block;
}

.services-menu__item:hover {
    background-color:#ce4646;
}

.services-menu__link:hover {
    text-decoration: none;
    border-radius: 3px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    box-shadow: 0 2px 1px rgba(61,61,61,0.3);
    position: relative;
    margin-bottom: 30px;
}

.slider-img {
    display: block;
}

/* .slider-text {
    display: block;
    position: absolute;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 5px; 
    left: 50px;
    top: 70px;
}

.slider-span-2 {
    top: 100px;
} */

.main-content {
    display: flex;
    margin-bottom: 30px;
}

.sidebar {
    width: 190px;
    margin-right: 50px;
}

.content-title {
    font-size: 14px;
    color: #373737;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.sidebar-date {
    display: block;
    font-size: 10px;
    color: #8b1919;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.sidebar-desription {
    font-size: 11px;
    color: #444444;
    margin-bottom: 16px;
}

.sidebar-link {
    color: #9c1f1f;
    font-size: 11px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.sidebar-link:hover {
    text-decoration: none;
}

.sidebar-border {
    border-bottom: 1px dashed #9d9d9d;
    margin-bottom: 14px;
}

.page-content {
    width: 700px;
    font-size: 11px;
    color: #575656;
}

.content-description {
    margin-bottom: 15px;
}

.content-item {
    padding-left: 15px;
    margin-bottom: 15px;
    position: relative;
}

.content-item.content-item-first:before {
    top: 8px;
}

.content-item:first-child {
    margin-bottom: 0;
}

.content-item::before {
    content: "";
    position: absolute;
    background-color: #9b2828;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.content-item a {
    display: inline-block;
    text-decoration: underline;
    color: #8c1a1a;
}

.content-item a:hover {
    text-decoration: none;
}

.content-span {
    display: block;
    margin-left: -15px;
    margin-bottom: 15px;
}

.manufacturer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f7f7;
    box-shadow: 0 2px 1px rgba(61,61,61,0.3);
    margin-bottom: 20px;    
}

.manufacturer__link {
    padding: 25px;
    filter: grayscale(1);
}

.manufacturer__link:hover {
    transform: scale(1.1);
    transition: transform 0.3s linear;
    filter: grayscale(0);
}

.manufacturer__link.active {
    filter: grayscale(0);
    transform: scale(1);
}

.manufacturer__logo {
    display: block;
}

.footer-menu {
    display: flex;
    margin-bottom: 12px;
}

.footer-menu_about {
    min-width: 130px;
    padding-left: 25px;
}

.footer-menu_about:first-child {
    padding-left: 0;
}

.footer-menu_about2 {
    min-width: 153px;
}

.footer-menu_about3 {
    min-width: 165px;
}

.footer-menu_about4 {
    min-width: 162px;
}

.footer-menu_about5 {
    min-width: 158px;
}

.footer-menu__title {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-menu__title-link {
    color: #5d5d5d;
}

.footer-menu__title-link.active {
    color: #c32f2f;
}

.footer-menu__title-link:hover {
    color: #de2020;
}

.footer-menu__list {
    min-height: 140px;
    border-right: 1px solid #dedede;
}

.spares-list {
    border-right: none;
}

.footer-menu__item {
    padding: 7px 0;
}

.footer-menu__link {
    font-size: 11px;
    color: #5d5d5d;
}

.footer-menu__link:hover {
    color: #de2020;
}

.footer-menu__link.active {
    position: relative;
    padding-left: 10px;
    color: #c32f2f;
}

.footer-menu__link.active::before {
    content: "";
    position: absolute;
    background-color: #c32f2f;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.footer {
    display: flex;
    justify-content: space-between;
    filter: grayscale(1);
    margin-bottom: 20px;
}

.copy {
    font-size: 12px;
}

.footer-middle {
    display: flex;
    align-items: flex-end;
}

.call-us-span {
    display: block;
    font-size: 12px;
}

.footer-tel {
    font-size: 18px;
}

.footer-tel-1 {
    margin-right: 27px;
}

.footer-right {
    display: flex;
    align-items: flex-end;
}

.footer-box {
    width: 88px;
    height: 31px;
    border: 1px solid #9a9a9a;
}

.footer-box-1 {
    margin-right: 16px;
}